body {
    margin: 0 0;
    font-family: 'Segoe UI';
}

div {
    padding: 0 0;
    margin: 0 0;
}
#img-header {
        width: 40px;
        height: 40px;
    }

#header {
    background-color: #000000;
    height: 100px;
    padding-top: 20px;
}

#text-header {
    color: #eef10b;
    display: inline;
     font-size: 40px;
}

#control-header {
    float: right;
    display: inline;
    margin-top: 13px;
}

.text-user {
    color: #FFFFFF;
     font-size: 16px;
}



.bt-logout {
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-left: 180px;
    margin-right: 20px;
    color: #ffffff;
    width: 120px;
    height: 40px;
}

.bt-logout:hover {
        background-color: #808080;
        border: 1px solid #4cff00;
        transition: all 500ms linear;
        font-size: 15px;
}

#panel {
    width: 250px;
    height: 530px;
    padding: 0 0;
    background-color: #000000;
    float: left;
  
}

ul li {
    list-style-type: none;
    border-bottom: 1px solid #FFFFFF;
    line-height: 50px;
    display: block;
    height: 50px;
}


ul li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px;
        display: block;
        padding-left: 20%;
}

ul li a:hover {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 16px;
            display: block;
            background-color: #808080;
            transition: all 500ms linear;
}

ul li a:visited {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 16px;
            display: block;
            padding-left: 20%;
}

ul {
    width: 100%;
    padding: 0 0;
    margin: 0 0;
}

#content {
    float: left;
     
}

#form1 {
    float: left;
    width: 100%;
}

#footer {
    clear: both;
    height: 50px;
    padding-top: 14px;
    background-color: #000000;
}

.text-header-gridview {
    background-color: #027801;
    color: #FFFFFF;
    text-align: center;
}

.item-gridview {
    text-align: center;
}

.content-main {
    margin-left: 10px;
    margin-top: 10px;
}

.grid-view tr:not(:last-child):hover {
    background-color: #00ff90;
    color: #ff0000;
}

.grid-view tr:nth-child(even) {
    background-color: #FFCC99;
}

.grid-view tr:nth-child(2n+1) {
    background-color: #E6E6FA;
}
.grid-view-row{
    height:40px;
}
.text-margin-in-cell{
    padding-left:10px;
}

.inline{
    display:inline;
   njnj
}
#show-detail-mobile tr td{
    padding-left:10px;
    
}
#show-detail-mobile{
    width:100%;
}
#width-dialog{
    width:1000px;
}
#number-mobile{
    
    margin-bottom:10px;
    margin-top:10px;
    margin-left:33px;
    background-color:#CCFF99;
}
#number-mobile tr td{
    width:100px;
    padding-top:10px;
}
#table-img-mobile{
    margin:auto;

}
.img-intro-mobile{
    margin-left:45%;
    margin-right:20%;
}
#number-mobile{
    margin-top:20px;
    margin-right:20px;
}