table {
    border-collapse: collapse;
    margin-left: 25px;
    width:500px;
    }

tr {
    width: 400px;
}

th, td {
    height: 200px;
    width: 300px;
    border: 1px solid #e2dddd;
    text-align: center;
}
td img
{
     width:150px;
    height:150px;
}
#ContentPlaceHolder1_DataListPhone_PriceLabel_0
{
    color:#ff0000;
}
#ContentPlaceHolder1_txtchuyensang
{
    width:50px;
}
.nextpage
{
        margin-top: 20px;
    margin-left: 100px;
}



